.backgroundImg {
    background-repeat: no-repeat;
    background-size: 75% 100%;
    background-position: right;
    padding-top: 100px;

}

@media only screen and (max-width: 600px) {
    .backgroundImg {
        padding-top: 10px;
    }
}